.header__flex-inner {
    display: flex;
    justify-content: space-between;
}

.header {
    padding-top: 24px;
    padding-bottom: 38px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header__title {
    font-family: "Inter";
    font-size: 50px;
    font-weight: 500;
    line-height: 64px; /* 128% */
    color: var(--black, #212429);
}

.header ul {
    list-style: none;
    padding: 0;
}

.header__menu-list {
    display: flex;
    column-gap: 40px;
}

.header__menu-list-item {
    color: var(--gray-3, #ACB5BD);
}

.header__menu-list-item_active {
    color: var(--black, #212429);
    padding-bottom: 8px;
}

.header__menu-list-item_active::after {
    content: "";
    display: block;
    background: #212429;
    height: 5px;
    width: 100%;
}