/* Стилизация аккордеона */
.accordion__item {
  display: block;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 24px 32px;
  border: 1px solid var(--gray-3, #ACB5BD);
  border-radius: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}  

.accordion__summary {
  position: relative;
  display: block;
  color: #000;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.accordion__summary::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 8px;
  background-image: url("../../assets/images/open-marker.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion__content {
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: var(--gray-4);
}

.accordion__item[open] {
  padding-bottom: 32px; 
}

.accordion__item[open] .accordion__summary::before {
  background-image: url("../../assets/images/close-marker.svg");
}

.accordion__item[open] .accordion__summary {
  color: var(--black, #212429);
}