.modal__content-title {
  color: #334D6E;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; /* 120% */
}

.modal__content-text {
  color: var(--gray-4, #495057);
  font-family: "Inter";
  line-height: 24px; /* 150% */
}

.modal__content {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 40px 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__content-head {
  display: flex;
  justify-content: space-between;
}

.modal {
  display: none;
  height: 100vh;
  width: 100vw; 
  background-color: rgba(196, 196, 196, 0.5);
  position: fixed;
}

.modal__close {
  cursor: pointer;
}


