@import '../fonts/fonts.css';

@import '../../03-lection1/01-button/button.css';
@import '../../components/wrapper/wrapper.css';
@import '../../components/container/container.css';
@import '../../components/header/header.css';
@import '../../components/component-lib/component-lib.css';
@import '../../components/preview/preview.css';
@import '../../components/cards/cards.css';
@import '../../components/footer/footer.css';
@import '../../components/nav/nav.css';
@import '../../03-lection1/01-button/button.css';
@import '../../07-lection5/03-toggler/toggler.css';
@import '../../components/theme-changer/theme-changer.css';
@import '../../components/html/html.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
    
    --main-bg: var(--black);
    --font-color: #ffffff75;
    --dark-bg: var(--grey-1);
    --white-bg: var(--black);
    --light-bg: var(--grey-4);
    --grey-bg: var(--grey-4);
    --card-bg: var(--black);
    --text-primary: var(--white);
    --active-text-color: var(--grey-2);
    --input-text-color: var(--font-color);
}

* {
    font-family: 'Roboto', sans-serif;
}
