.calendar {
  border: 1px solid var(--gray-3, #ACB5BD);
  padding: 28px 30px 40px;
}

.calendar__title {
  color: #334D6E;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; /* 120% */
  margin-bottom: 24px;
}

.calendar__content {
  display: grid;
  grid-template-rows: repeat(7, 36px);
  grid-template-columns: repeat(7, 36px); 
  row-gap: 8px;
}

.calendar__content-item_type_day {
  padding-bottom: 8px;
  font-family: 'Inter', sans-serif;
  color: var(--90-a-0-b-7, #90A0B7);
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  justify-self: center;
}

.calendar__content-item_type_number {
  padding: 8px 9px 8px 11px;
}

.calendar__content-item_active {
  padding: 8px 9px 8px 11px;
  color: #FFF;
  line-height: 20px; /* 125% */
  background: #4263EB;
}

.calendar__content-item_sub-active {
  background: #A0B1F5;
}

#first {
  grid-column-start: 5;
}