.footer__text {
    text-align: center;
    color: var(--font-color);
    padding: 71px 0 136px;
}

.footer__title {
    color: var(--gray-3, #ACB5BD);
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.48px;
    text-transform: uppercase;
    padding-bottom: 56px;
}