html[data-theme-dark] {
  background-color: var(--main-bg);
}

html[data-theme-dark] .logo svg {
  fill: #fff;
}

html[data-theme-dark] .component-lib__title {
  color: var(--font-color);
}

html[data-theme-dark] .component-lib__menu-list-item_active {
  color: var(--active-text-color);
}

html[data-theme-dark] .component-lib__menu-list-item_active::after {
  background: var(--dark-bg);
}

html[data-theme-dark] .nav__menu-item_active {
  color: var(--active-text-color);
}

html[data-theme-dark] .footer {
  color: var(--font-color);
}

html[data-theme-dark] .preview {
  background-color: var(--grey-bg);
}

html[data-theme-dark] .cards__item {
  background: var(--card-bg);
}

html[data-theme-dark] .cards__item-title,
html[data-theme-dark] .cards__item-description {
  color: var(--font-color);
}

html[data-theme-dark] .preview__button {
  background-color: var(--card-bg);
  color: var(--font-color);
  border-color: var(--card-bg);
}

html[data-theme-dark] .preview__button:hover {
  border-color: var(--font-color);
}