.burger-menu {
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
}

.burger-menu[data-open] {
  transform: translateX(0);
}

.burger-menu__content-components-list-item {
  font-size: 16px;
}

.burger-menu__content-components-title {
  color: var(--gray-3, #ACB5BD);
}