.preview {
    flex: 1 1 auto;
    background: var(--preview-bg);
    padding-top: 68px;
    padding-bottom: 92px;
}

.preview__button {
    padding: 0 40px;
    display: block;
    margin: 64px auto 0;
}